@using EntityLayer.Concrete
@model List<Blog>
@{
	ViewData["Title"] = "BlogListByWriter";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container-fluid">
	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Yazarın Blogları</h4>
				<br />
				<table class="table">
					<tr>
						<th>#</th>
						<th>Blog Baslik</th>
						<th>Blog Tarihi</th>
						<th>Blog Kategori</th>
						<th>Blog Durum</th>
						<th>Sil</th>
						<th>Duzenle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<th>@item.BlogID</th>
							<td>@item.BlogTitle</td>
							<td>@(((DateTime)item.BlogCreateDate).ToString("dd/MMM/yyyy"))</td>
							<td>@item.Category.CategoryName</td>
							@if (item.BlogStatus)
							{
								<td><span class="badge badge-success">Aktif</span></td>
							}
							else
							{
								<td><span class="badge badge-danger">Pasif</span></td>
							}

							<td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger" id="ask" style="color:black">Sil</a></td>
							<td><a href="/Blog/GetBLog/@item.BlogID" class="btn btn-warning" style="color:black">Düzenle</a></td>
						</tr>
					}
				</table>
			</div>
		</div>
		<br />
	</div>
	<a href="/Blog/AddBlog/" class="btn btn-primary" style="margin-left:20px">Yeni Blog Ekle</a>
</div>
<script>
		$('#ask').click(function(){
				swal({
			  title: "Are you sure?",
			  text: "You will not be able to recover this imaginary file!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, delete it!",
			  closeOnConfirm: false
			},
			function(){
			  swal("Deleted!", "Your imaginary file has been deleted.", "success");
			});
		)};
</script>